table, td, th {  
    border: 1px solid rgba(236, 220, 220, 0.5);
    text-align: left;
    width: 19.45%
  }
  
  table {
    border-collapse: collapse;
    width: 60%;
  }
  
  th, td {
    padding: 10px;
    color:rgba(238, 24, 24, 0.5)
  }

   
